.bem/cache/
tools/node_modules/
bem-bl
build/*/*.*
!build/*/*.bemjson.js
!build/*/*.html
!level.js
tests/unit/jasmine/*.*
!tests/unit/jasmine/jasmine-console.js
tests/*/*.*
!tests/*/*.bemjson.js
!tests/*/*.html
